# Stripe Payment Link for the Selnite founding membership ($99 first year).


NEXT_PUBLIC_STRIPE_PAYMENT_LINK=https://buy.stripe.com/your_real_link_here


DATABASE_URL=postgresql://user:password@ep-xxxx.region.aws.neon.tech/dbname?sslmode=require
